@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#root {
    overflow-x: hidden;
}

* {
    font-family: 'Inter', sans-serif;
}

.gradient {
  background: radial-gradient(circle, rgba(0,180,216,1) 63%, rgba(203,243,240,0) 100%);
}

@media screen and (max-width: 768px) {





    #home {
        margin-top: 17%;
    }

    #about {
       padding-top: 25%;   
    }

    #skills {
        padding-top: 25%;   
     }

     #projects {
        padding-top: 20%;   
     }
}



@layer base {
    body {
        @apply bg-[#00B4D8] text-[#03045E] tracking-wide;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold text-[#03045E] decoration-[#03045E];
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl  text-[#03045E]; 
    }

    h2 {
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl; 
    }

    li {
        @apply list-none cursor-pointer; 
    }
}

