@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg, #48CAE4, #00B4D8, #0096C7, #0077B6);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@layer base {
    /* body {
        @apply bg-[#00B4D8] text-[#03045E] tracking-wide;
    } */

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold text-[#03045E];
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl  text-[#03045E]; 
    }

    h2 {
        @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl; 
    }

    li {
        @apply list-none cursor-pointer 
    }

    button {
        @apply shadow-xl rounded-xl uppercase bg-[#ffbf00] hover:bg-gradient-to-l from-[#FF8500] to-[#ffbf00] text-white;
    }
}